
//
// VARIABLES
//

// Theme
$titleColor:#2aa198;
$backGroundColor: #002b36;
$textColor: #93a1a1;
$subTitleColor: #eee8d5;
$linkColor: #268bd2;
$linkActiveColor: #cb4b16;
$highlightBGColor: #073642;

// Colors
$blue: #268bd2;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
